body{
    margin: 0 auto
}
header h1{
    margin: 0 3em;
    
}
header a{
    text-decoration: none;
    color:black;
    margin: 0 auto;
}
header{
    background: wheat;
    margin: 0 auto;
    padding-bottom:5px;
    margin-bottom: 10px;
}
a:active{
    color:black;
}
.divPosts{
    width: 50%;
    margin: 0 auto;
}
.divPosts{
    border: 2px solid black;
    margin-bottom:5px;
    padding:10px;
}
.divBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.divBtn button{
    display: none;
}
